    body{
        margin: 0;
        padding: 0;
    }   
    .menuAF{
        padding: 5px;
        font-size: 20px;
        border-radius: 3px;
        background-color: transparent;
        color: #007900;
        border: 1px solid rgb(21, 180, 0);
        width: auto;
        display: none;
    }
    .close-btn{
        display: none;
    }

    body {
      font-family: 'Montserrat', sans-serif;
      gap: 0;
    }
    .footer{
        margin-top: 0vh;
    }
    footer  {
        background: linear-gradient(135deg, #161f16, #3f583d);
        color: #ffffff;
    }
    footer h5 {
      color: #df3333;
    }

    footer a {
      color: #bebcbd; /* couleur des liens */
      text-decoration: none;
      transition: color 0.3s;
    }

    footer a:hover {
      color: #2acc09; /* couleur au survol */
    }

    .social-icons a {
      font-size: 1.5rem;
      margin-right: 15px;
      color: #0eda18;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #00ffff;
    }

    .footer-bottom {
      background-color: rgba(0,0,0,0.2);
      padding: 15px 0;
    }
    .boite{
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
    }
    .decallien{
        margin-left: 1vw;
        font-family: 'Montserrat';
        font-size: 17px;
    }
    
    body {
    opacity: 0;
    transition: opacity 1.2s ease-in-out; /* durée : 1.2s */
    }

    body.loaded {
    opacity: 1;
    }


    

    .imgbg {
        width: 100vw;
        height: 90vh;
        margin-bottom: 0;
         /* fondu */
    }
    .mega{
        font-size: 25px;
        width: 30%;
        margin-left: 35%;
        text-align: center;
        font-family: 'Montserrat';
        color: #1eaa25;
        font-weight: bold;
        margin-top: 10vh;
        margin-bottom: 30vh;
        border: 1px solid #1eaa25;
        padding: 10px;
        border-radius: 10px;
    }


        body{
        margin: 0;
        padding: 0;
        width: 100%;
    }   
    
    
    .container{
        display: flex;
    }
    body {
      font-family: 'Montserrat', sans-serif;
      gap: 0;
    }
    .footer{
        margin-top: 0vh;
    }
    footer  {
        background: linear-gradient(135deg, #161f16, #3f583d);
        color: #ffffff;
    }
    footer h5 {
      color: #df3333;
    }

    footer a {
      color: #bebcbd; /* couleur des liens */
      text-decoration: none;
      transition: color 0.3s;
    }

    footer a:hover {
      color: #2acc09; /* couleur au survol */
    }

    .social-icons a {
      font-size: 1.5rem;
      margin-right: 15px;
      color: #0eda18;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #00ffff;
    }

    .footer-bottom {
      background-color: rgba(0,0,0,0.2);
      padding: 15px 0;
    }
    .boite{
        display: flex;
        flex-direction: column;
        margin-left: -2vw;
    }
    .decallien{
        margin-left: 1vw;
        font-family: 'Montserrat';
        font-size: 17px;
        display: flex;
        flex-direction: column;
    }

    
    
    .bgimage{
        width: 100%;
        
        height: 45vh;
        object-fit: cover;
        position: relative;
    }
    .phr1{
        font-size: 65px;
        font-weight: bold;
        position: absolute;
        color: rgb(0, 12, 116);
        margin-top: -30vh;
        margin-left: 4vw; 
        font-family:cursive;
    }

    .intro{
        font-size: 22px;
        font-family: cursive;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 5vh;
    }

    .row{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .boite{
        width: 100%;

    }
    .box {
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
        display: flex;
        justify-content: center;
    }

    /* état visible */
    .box.show {
        width: 100%;
        opacity: 1;
        transform: translateY(0);
    }

    .part{
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        gap: 7vw;
        justify-content: center;
    }
    .partimg{
        height: 18vh;
        width: 10vw;
        border-radius: 5%;
        

    }
    .aaa{
        color: #523100;
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: bold;
        margin-left: 4vw;
        transition: all 0.6s ease;
    }
    .aaa:hover{
        color: #f09001;
    }
    .partimg:hover{
        transition: 0.5s;
        box-shadow: 0.3px 0.5px 3px 0.3px rgba(189, 123, 0, 0.952);
    }


    .intr{
        font-size: 18px;
        font-family: cursive;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 15vh;
    }

    .button{
        font-size: 18px;
        width: 30%;
        margin-left: 45%;
        text-align: center;
        font-family: cursive;
        color: #070ac0;
        font-weight: bold;
        margin-bottom: 18vh;
        border: 1px solid #070ac0;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }



















    @media screen and (max-width:600px){


        .menuAF{
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
        background-color: transparent;
        color: #007900;
        border: 1px solid rgb(21, 180, 0);
        width: auto;
        margin-left: 28vw;
        margin-top: 4vh;
        height: 6vh;
        
    }
    .affiche{
        display: block;
    }
    .cache{
        display: none;
    }
    nav{
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: #e7e7e7;
        padding: 10px;
        position:fixed;
        font-size: 25px;
        right: 0.5%;
        top: 8%;
        padding-top: 8vh;
        z-index: 100;
    }
    .close-btn{
        display: block;
        margin-left: 55vw;
        margin-top: -6vh;
        text-align: center;
        width: 11vw;
        position: absolute;
    }
    .bgimage{
        position: relative;
    }
    .dropdown  {
        font-family:'Montserrat';
        font-weight: bold;
        
        width: 100%;
        margin-top: 5px;
        color: #df3333;
        margin-left: -5vw;
    }
    .btn{
        margin-left: -44vw;
        font-size: 20px;

    }
    .menuUl{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:baseline;
        gap: 1.5vw;
        
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 20px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #df3333;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #df3333;
        transition: width 0.3s;
    }

    nav a:hover::after {
        width: 100%;
    }
    nav a.active::after {
        width: 100%;
    }

    .deroulUl {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
      
    }
    .deroula {
        font-size: 13px;
        margin-top: 2vh;
        color: rgb(83, 83, 83);
    }
    .deroula:hover {
        margin-top: 2vh;
        color: rgb(34, 175, 21);
        transition: 0.8s;
    }
    nav li{
        list-style: none;
    }
    nav ul li:hover ul li ::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #f35a5a;
        transition: width 0.8s;
    }
    .deroula:hover::after {
        width: 100%;
    }
    /* Affiche le menu au survol */
    nav ul li:hover:hover ul {
        display: block;
        gap: 2vh;
        transition:  0.5s;
    }


    .decallien{
        margin-left: 1vw;
        font-family: 'Montserrat';
        font-size: 15px;
    }
















    body{
        margin: 0;
        padding: 0;
    }   
    
    

    header{
        width:100%;
        display: flex;
        background-color: transparent;

        
    }
    .logo{
        width: 40%;
        height: 12vh;
        margin-left: 2vw;
    }
    .bgimage{
        width: 100vw;
        height: 45vh;
        margin-bottom: 0;
        position: relative;
         /* fondu */
    }
    
    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }   
    
    
    
    .phr1{
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        color: rgb(13, 116, 0);
        margin-top: -30vh;
        margin-left: 4vw; 
        font-family:cursive;
        position:relative;
    }

    .intro{
        font-size: 16px;
        font-family: cursive;
        width: 98%;
        margin-left: 2%;
        text-align: center;
        margin-top: 24vh;
    }

    .row{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10vh;
    }
    .boite{
        width: 100%;

    }
    .box {
        width: 100%;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
    }

    /* état visible */
    .box.show {
        width: 100%;
        opacity: 1;
        transform: translateY(0);
    }

    .part{
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 7vw;
        justify-content: center;
        margin-left: 10%;
        width: 80%;
        text-align: center;
        
    }
    .partimg{
        height: 20vh;
        width: 50%;
        border-radius: 5%;
        

    }
    .aaa{
        color: #005205;
        font-size: 22px;
        font-family: 'Montserrat';
        font-weight: bold;
        margin-left: 2vw;
        transition: all 0.6s ease;
    }
    .aaa:hover{
        color: #03ff10;
    }
    .partimg:hover{
        transition: 0.5s;
        box-shadow: 0.3px 0.5px 3px 0.3px rgba(38, 189, 0, 0.952);
    }


    .intr{
        font-size: 13px;
        font-family: cursive;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 15vh;
    }

    .button{
        font-size: 15px;
        width: 40%;
        margin-left: 35%;
        text-align: center;
        margin-top: 2vh;
        font-family: cursive;
        color: #1eaa25;
        font-weight: bold;
        margin-bottom: 18vh;
        border: 1px solid #1eaa25;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }

    }








    
@media screen and (min-width: 601px) and (max-width: 1024px){



    .menuAF{
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
        background-color: transparent;
        color: #007900;
        border: 1px solid rgb(21, 180, 0);
        width: auto;
        margin-left: 40%;
        margin-top: 4vh;
        height: 6vh;
        width: 15%;
        
    }
    .affiche{
        display: block;
        opacity: 1;
        transform: translateX(0);
    }
    .cache{
        display: none;
    }
    nav{
        width: 60%;
        display: flex;
        flex-direction: column;
        background-color: #e7e7e7;
        padding: 10px;
        position:fixed;
        font-size: 25px;
        right: 0.5%;
        top: -3%;
        padding-top: 8vh;
        opacity: 0;
        transform: translateX(10vw);
        transition: all 0.8s ease;
        z-index: 100;
    }
    .close-btn{
        display: block;
        margin-left: 40vw;
        margin-top: -6vh;
        text-align: center;
        height: 5.4vh;
        width: 11vw;
        position: absolute;
    }

    .dropdown  {
        font-family:'Montserrat';
        font-weight: bold;
        
        width: 100%;
        margin-top: 5px;
        color: #df3333;
        margin-left: -5vw;
    }
    .btn{
        margin-left: -44vw;
        font-size: 20px;

    }
    .phr1{
        font-size: 65px;
        font-weight: bold;
        position: absolute;
        color: rgb(124, 0, 0);
        margin-top: -35vh;
        margin-left: 4vw; 
        /*background-color: rgba(255, 255, 255, 0.527);
        padding: 10px;
        border-radius: 20px;*/
        font-family:cursive;
        position: static;
    }
    .menuUl{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:baseline;
        gap: 1.5vw;
        
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 20px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #df3333;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #df3333;
        transition: width 0.3s;
    }

    nav a:hover::after {
        width: 100%;
    }
    nav a.active::after {
        width: 100%;
    }

    .deroulUl {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
      
    }
    .deroula {
        font-size: 13px;
        margin-top: 2vh;
        color: rgb(83, 83, 83);
    }
    .deroula:hover {
        margin-top: 2vh;
        color: rgb(34, 175, 21);
        transition: 0.8s;
    }
    nav li{
        list-style: none;
    }
    nav ul li:hover ul li ::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #f35a5a;
        transition: width 0.8s;
    }
    .deroula:hover::after {
        width: 100%;
    }
    /* Affiche le menu au survol */
    nav ul li:hover:hover ul {
        display: block;
        gap: 2vh;
        transition:  0.5s;
    }

    
    .container{
        display: flex;
        margin-left: 2vw;
    }
    body {
      font-family: 'Montserrat', sans-serif;
      gap: 0;
    }
    .footer{
        margin-top: 0vh;
    }
    footer  {
        background: linear-gradient(135deg, #161f16, #3f583d);
        color: #ffffff;
    }
    footer h5 {
      color: #df3333;
    }

    footer a {
      color: #bebcbd; /* couleur des liens */
      text-decoration: none;
      transition: color 0.3s;
    }

    footer a:hover {
      color: #2acc09; /* couleur au survol */
    }

    .social-icons a {
      font-size: 1.5rem;
      margin-right: 15px;
      color: #0eda18;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #00ffff;
    }

    .footer-bottom {
      background-color: rgba(0,0,0,0.2);
      padding: 15px 0;
    }
    .boite{
        display: flex;
        flex-direction: column;
        margin-left: -2vw;
    }
    .decallien{
        margin-left: 1vw;
        font-family: 'Montserrat';
        font-size: 17px;
        display: flex;
        flex-direction: column;
    }


















        body{
        margin: 0;
        padding: 0;
    }   
    
    

    header{
        width:100%;
        display: flex;
        background-color: transparent;

        
    }
    .logo{
        width: 40%;
        height: 12vh;
        margin-left: 2vw;
    }
    .bgimg{
        width: 100vw;
        height: 35vh;
        margin-bottom: 0;
         /* fondu */
    }
    
    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }   
    
    
    
    .phr1{
        font-size: 45px;
        font-weight: bold;
        position: absolute;
        color: rgb(13, 116, 0);
        margin-top: -30vh;
        margin-left: 4vw; 
        font-family:cursive;
    }

    .intro{
        font-size: 18px;
        font-family: cursive;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 5vh;
    }

    .row{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10vh;
    }
    .boite{
        width: 100%;

    }
    .box {
        width: 100%;
    
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
    }

    /* état visible */
    .box.show {
        width: 100%;
        opacity: 1;
        transform: translateY(0);
    }

    .part{
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 7vw;
        justify-content: center;
        margin-left: 20%;
        width: 60%;
        text-align: center;
        
    }
    .partimg{
        height: 25vh;
        width: 60%;
        border-radius: 5%;
        

    }
    .aaa{
        color: #005205;
        font-size: 23px;
        font-family: 'Montserrat';
        font-weight: bold;
        margin-left: 2.5vw;
        transition: all 0.6s ease;
    }
    .aaa:hover{
        color: #03ff10;
    }
    .partimg:hover{
        transition: 0.5s;
        box-shadow: 0.3px 0.5px 3px 0.3px rgba(38, 189, 0, 0.952);
    }



    .intr{
        font-size: 18px;
        font-family: cursive;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 15vh;
    }

    .button{
        font-size: 18px;
        width: 40%;
        margin-left: 40%;
        text-align: center;
        font-family: cursive;
        color: #1eaa25;
        font-weight: bold;
        margin-bottom: 18vh;
        border: 1px solid #1eaa25;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
    footer{
        margin-top: 1vh;
    }
    
}